In [116]:
import pandas as pd
import numpy as np

In [117]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
file1 = pd.read_csv(url)
display(file1)
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [118]:
file1.shape

(4008, 11)

In [119]:
column_names = file1.columns
column_names

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [120]:
cols = []
for column in file1.columns:
    cols.append(column.lower())
cols
file1.columns = cols
file1.columns

print(file1.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [121]:
unique_value_counts = file1.nunique()
print(unique_value_counts)

customer                     1071
st                              8
gender                          5
education                       6
customer lifetime value      1027
income                        774
monthly premium auto          132
number of open complaints       6
policy type                     3
vehicle class                   6
total claim amount            761
dtype: int64

In [122]:
file1_summary = file1.describe()
file1_summary

             income  monthly premium auto  total claim amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [123]:
mode_premium = file1['monthly premium auto'].mode()
print(mode_premium)

median_premium = file1['monthly premium auto'].median()
print(median_premium)

mean_premium = file1['monthly premium auto'].mean()
print(mean_premium)

0    65.0
Name: monthly premium auto, dtype: float64
83.0
193.234360410831

In [124]:
import matplotlib.pyplot as plt

lower_limit = 0
upper_limit = 1000

file1.boxplot(column='monthly premium auto')
plt.title('Boxplot Monthly Premium')
plt.ylabel('Amount')
plt.xlabel('Monthly Premium')
plt.show

In [125]:
file_states = file1.replace({'Cali':'California', 'WA':'Washington', 'AZ':'Arizona'})

states = file_states['st'].value_counts()
states

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: st, dtype: int64

In [126]:
lowest_states = states.nsmallest(5)
lowest_states

Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: st, dtype: int64

In [127]:
highest_states = states.nlargest(5)
highest_states

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: st, dtype: int64

In [129]:
file1.value_counts('policy type').sum()
print(file1.value_counts('policy type'))
print("Total policies sold: ", sum(file1.value_counts('policy type')))

policy type
Personal Auto     780
Corporate Auto    234
Special Auto       57
dtype: int64
Total policies sold:  1071

In [134]:
policy_max = file1.value_counts(['policy type']).max()
policy_max

780

In [142]:
data_personal_auto = file1.loc[file1['policy type'] == 'Personal Auto']
print(data_personal_auto)

print('-----------')

data_corporate_auto = file1.loc[file1['policy type'] == 'Corporate Auto']
print(data_corporate_auto)

     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
4     GA49547  Washington      M  High School or Below
5     OC83172      Oregon      F              Bachelor
...       ...         ...    ...                   ...
1065  XD85577        Cali      M              Bachelor
1066  TM65736      Oregon      M                Master
1067  VJ51327        Cali      F  High School or Below
1068  GS98873     Arizona      F              Bachelor
1070  MY31220  California      F               College

     customer lifetime value   income  monthly premium auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
4                 536307.65%  36357.0                  68.0
5                 825629.78%  62902.0                  69.0
...                      ...      ...                   ...
1065              284226.69%  69417.0                  73.0
1066              305955.03%  38644.0                  78.0
1067             2031499.76%  63209.0                 102.0
1068              323912.47%  16061.0                  88.0
1070              899704.02%  54230.0                 112.0

     number of open complaints    policy type  vehicle class  \
0                       1/0/00  Personal Auto  Four-Door Car
1                       1/0/00  Personal Auto  Four-Door Car
2                       1/0/00  Personal Auto   Two-Door Car
4                       1/0/00  Personal Auto  Four-Door Car
5                       1/0/00  Personal Auto   Two-Door Car
...                        ...            ...            ...
1065                    1/1/00  Personal Auto  Four-Door Car
1066                    1/1/00  Personal Auto  Four-Door Car
1067                    1/2/00  Personal Auto            SUV
1068                    1/0/00  Personal Auto  Four-Door Car
1070                    1/0/00  Personal Auto   Two-Door Car

      total claim amount
0               2.704934
1            1131.464935
2             566.472247
4              17.269323
5             159.383042
...                  ...
1065           30.874869
1066          361.455219
1067          207.320041
1068          633.600000
1070          537.600000

[780 rows x 11 columns]
-----------
     customer          st gender             education  \
3     WW63253  California      M              Bachelor
6     XZ87318      Oregon      F               College
7     CF85061     Arizona      M                Master
8     DY87989      Oregon      M              Bachelor
12    DP39365  California    NaN                Master
...       ...         ...    ...                   ...
1045  WZ31900      Oregon      F              Bachelor
1050  BJ53923     Arizona      M  High School or Below
1052  FB23788      Oregon      M  High School or Below
1056  PI47776      Oregon      F              Bachelor
1059  YG44474      Oregon      M               College

     customer lifetime value   income  monthly premium auto  \
3                 764586.18%      0.0                 106.0
6                 538089.86%  55350.0                  67.0
7                 721610.03%      0.0                 101.0
8                2412750.40%  14072.0                  71.0
12                879879.70%  77026.0                 110.0
...                      ...      ...                   ...
1045              864970.06%  94389.0                 107.0
1050              260027.21%  51978.0                  66.0
1052              882883.50%  86721.0                 111.0
1056              253070.51%  89451.0                  63.0
1059             1401472.13%  54193.0                 117.0

     number of open complaints     policy type  vehicle class  \
3                       1/0/00  Corporate Auto            SUV
6                       1/0/00  Corporate Auto  Four-Door Car
7                       1/0/00  Corporate Auto  Four-Door Car
8                       1/0/00  Corporate Auto  Four-Door Car
12                      1/2/00  Corporate Auto  Four-Door Car
...                        ...             ...            ...
1045                    1/0/00  Corporate Auto            SUV
1050                    1/0/00  Corporate Auto  Four-Door Car
1052                    1/0/00  Corporate Auto            SUV
1056                    1/0/00  Corporate Auto  Four-Door Car
1059                    1/0/00  Corporate Auto            SUV

      total claim amount
3             529.881344
6             321.600000
7             363.029680
8             511.200000
12            472.029737
...                  ...
1045           85.063708
1050          144.782152
1052          532.800000
1056           61.769564
1059          720.752945

[234 rows x 11 columns]

In [146]:
avg_income_personal = data_personal_auto['income'].mean()
avg_income_personal
print(avg_income_personal)

38180.69871794872

In [148]:
avg_income_corporate = data_corporate_auto['income'].mean()
avg_income_corporate
print(avg_income_corporate)

41390.31196581197